<%= link_to "Submit a new link", new_link_path %>

<ul id="links">
<% @links.each do |link| %>
    <%= content_tag_for :li, link do %>
      <% if link.image? %>
        <%= image_tag link.url %>
      <% else %>
        <%= link_to link.title, link.url %>
      <% end %>
      <%# call the create route on the nested upvote resource (hooked to Upvotes Controller)%>
      <%= link_to "Upvote", link_upvote_path(link.id), method: "post" %>
      <%# call the create route on the nested downvote resource (hooked to Downvotes Controller) %>
      <%= link_to "Downvote", link_downvote_path(link.id), method: "post" %>
      <div data-role=score> Score: <%= link.score %></div>
      <br>
    <% end %>
<% end %>
</ul>
